@CHARSET "ISO-8859-1";

.root{
	-fx-background-color:#faebd7
}

#inputText {
	-fx-font: 20px Verdana;
	-fx-font-weight: bold;
}

.label {
	-fx-font:15px Verdana;
	-fx-text-fill: Darkblue;
	-fx-font-weight : bold;
	
}